.notification {
  display: flex;
  justify-content: center;
}

.message {
  color: #fff;
  font-size: 20px;
  padding: 10px 50px;
  border-radius: 50px;
  margin-top: 5px;
  position: absolute;
  top: 0;
  z-index: 9999;
}

.success {
  background-color: #5a5;
}

.error {
  background-color: red;
}

.warning {
  background-color: #ff9800;
}
