@use "../../App.module.scss" as *;

#loginPage {
  align-items: center;
  justify-content: center;
  overflow: hidden;

  @include authForm;
}

#buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

#btnRegister {
  all: unset;
  color: #3399ff;
  font-size: large;
  transition: all 0.3s;
  margin-top: 10px;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}
