#navBar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100dvh;
  width: 300px;
  background-color: #6e473b;
  position: absolute;
  z-index: 9999;
  left: 0;
  transition: transform 0.3s ease-out;
  transform: translateX(-100%);
  user-select: none;

  .navBarBtn img {
    transition: transform 0.5s ease-out;
    transform: rotate(0);
  }
}

#navBarHidden {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100dvh;
  width: 300px;
  background-color: #6e473b;
  position: absolute;
  z-index: 9999;
  left: 0;
  transition: transform 0.3s ease-out;
  transform: translateX(0);

  .navBarBtn img {
    transition: transform 0.5s ease-out;
    transform: rotate(180deg);
  }
}

#logo {
  align-items: center;
  justify-content: center;
  height: auto;
  width: 100%;
  font-size: 2rem;
  font-weight: bold;
  color: #e1d4c2;
  margin-top: 10px;
  user-select: none;
}

#logo img {
  width: 100px;
  border-radius: 20px;
}

.navBarBtn {
  position: absolute;
  left: 100%;
  top: 20%;
  padding: 10px;
  z-index: 9999;
  background-color: #a78d78;
  color: #291c0e;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;

  img {
    width: 25px;
  }

  &:hover {
    background-color: #beb5a9;
    cursor: pointer;
  }
}

.logoutBtn {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.navBarContainer {
  overflow: auto;
  scrollbar-width: none;
}
