@use "../../App.module.scss" as *;

#mainWindow {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  background-color: #282c34;
  overflow: hidden;
  position: relative;
}

#content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.navButton {
  @include button;
  color: rgb(206, 206, 206);
  text-align: center;
  background-color: #282c34;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  margin-right: 1vw;
  max-height: 4vh;
  height: fit-content;
  width: fit-content;
  padding: 3%;
  width: 30%;
}
