.galleryPage {
  padding-top: 10px;
  width: auto;
}

.removeImageBtn {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: red;
  color: white;
  font-size: 20px;
  cursor: pointer;
  margin-bottom: 20px;
}

.removeImageBtn:disabled {
  background-color: gray;
  cursor: not-allowed;
}

.galleryPage h1 {
  color: yellow;
}

.galleryPage ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.galleryPage ul li {
  position: relative;
  list-style: none;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  border: 2px solid white;
  border-radius: 10px;
  overflow: hidden;
}

.galleryPage ul li img {
  width: auto;
  height: 100%;
  object-fit: cover;
}

.checkboxes {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
