@use "../../../App.module.scss" as *;

#topBar {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #9e9e9d;
  user-select: none;

  button {
    border: none;
    border-radius: 10px;
    padding: 10px;
    background-color: #a78d78;
    color: #e1d4c2;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;

    &:hover {
      background-color: #beb5a9;
      cursor: pointer;
    }
  }
}
