@use "../../../App.module.scss" as *;

#filterBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6vh;
  padding: 0 1rem;
  padding-left: 5vw;
  background-color: #724c4c;
  user-select: none;

  h1 {
    font-size: clamp(1.2rem, 1.5vw, 5rem);
  }
}

#search {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 2px 0px;

  input {
    @include inputStyle;
    border: none;
    outline: none;
    box-shadow: none;
    padding: clamp(0.3rem, 0.5vw, 1rem);
    margin-right: 5px;
  }

  #loupe {
    width: clamp(1.5rem, 1vw, 3rem);
    height: auto;
    border-radius: 10px;
  }
}
