@use "../../../App.module.scss" as *;

#filterBar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 6vh;
  background-color: #724c4c;
  user-select: none;
  padding: 0px 10px;
}

#search {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 2px 0px;
  margin-left: 10px;

  input,
  select {
    border: none;
    outline: none;
    box-shadow: none;
    padding: clamp(0.3rem, 0.5vw, 1rem);
    margin-right: 3px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  }

  select {
    padding: clamp(0.3rem, 0.3vw, 1rem);
  }

  #loupe {
    width: clamp(1.5rem, 1vw, 3rem);
    border-radius: 10px;
  }
}
