@use "../../../../App.module.scss" as *;

.foldersPage {
  @include page;
}

#formContainer {
  @include formCointainer;

  select {
    width: 60%;
    height: 30px;
    border-radius: 5px;
    border: none;
    margin: 0px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  }

  textarea {
    @include inputStyle;
    width: 60%;
    text-align: left;
    height: 15px;
    resize: none;
    scrollbar-width: none;
  }
}

.removeBtn {
  @include removeBtn;
}

.foldersPage ul {
  width: 50vw;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.foldersPage ul li {
  position: relative;
  list-style: none;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #808080;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  user-select: none;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  p {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
  }
}

.checkboxes {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
