@use "../../../../App.module.scss" as *;

.foldersPage {
  width: auto;
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;

  form {
    background-color: #808080;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 50%;
    border: 5px solid #ffff;
    border-radius: 10px;
    padding: 10px;
    position: absolute;
    top: 200px;
    z-index: 1;

    .closeFormBtn {
      position: absolute;
      top: 0;
      right: 0;
      padding: 3px 14px;
      border-radius: 5px;
      border: none;
      background-color: #e02a1d;
      color: #e1d4c2;
      font-size: 20px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
      transition: all 0.3s ease;

      &:hover {
        color: #ffffff;
        cursor: pointer;
      }
    }

    select {
      width: 60%;
      height: 30px;
      border-radius: 5px;
      border: none;
      margin: 0px;
      font-size: 16px;
      text-align: center;
      cursor: pointer;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    }

    textarea {
      @include input;
      width: 60%;
      text-align: left;
      height: 15px;
      resize: none;
      scrollbar-width: none;
    }

    .submitFormBtn {
      padding: 10px;
      border-radius: 5px;
      border: none;
      background-color: #5a5;
      color: #e1d4c2;
      font-size: 20px;
      cursor: pointer;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
      transition: all 0.3s ease;

      &:hover {
        color: #ffffff;
        cursor: pointer;
      }
    }
  }
}

.removeFolderBtn {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #e02a1d;
  color: #e1d4c2;
  font-size: 20px;
  cursor: pointer;

  &:disabled {
    background-color: gray;
    cursor: not-allowed;
  }
}

.foldersPage h1 {
  color: yellow;
  margin-bottom: 10px;
}

.foldersPage ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.foldersPage ul li {
  position: relative;
  list-style: none;
  font-size: 30px;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 150px;
  height: 150px;
  background-color: #808080;
  color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  user-select: none;
}

.checkboxes {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
