@use "../../../../App.module.scss" as *;

.foldersPage {
  @include page;
}

#formContainer {
  @include formCointainer;

  select {
    width: 60%;
    height: 30px;
    border-radius: 5px;
    border: none;
    margin: 0px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  }

  textarea {
    @include inputStyle;
    width: 60%;
    text-align: left;
    height: 15px;
    resize: none;
    scrollbar-width: none;
  }
}

.removeBtn {
  @include removeBtn;
}

.foldersPage h1 {
  color: yellow;
  margin-bottom: 10px;
}

.foldersPage ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.foldersPage ul li {
  position: relative;
  list-style: none;
  font-size: 30px;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 150px;
  height: 150px;
  background-color: #808080;
  color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  user-select: none;
}

.checkboxes {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
