#logOut {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(0.8rem, 2vw, 1.3rem);
  font-weight: bold;
  background-color: #a78d78;
  border-radius: 10px;
  color: #9c1b1b;
  padding: 15px 60px;
  margin: 10px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  bottom: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  user-select: none;

  img {
    width: clamp(0.8rem, 2vw, 1.3rem);
    border-radius: 20px;
    margin-right: 5px;
  }

  &:hover {
    background-color: #beb5a9;
    cursor: pointer;
  }
}
