@use "../../../../App.module.scss" as *;

.galleryPage {
  @include page;
}

.removeBtn {
  @include removeBtn;
}

.galleryPage ul {
  width: 50vw;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.galleryPage ul li {
  position: relative;
  list-style: none;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #808080;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  user-select: none;
}

.galleryPage ul li img {
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  object-fit: contain;
}

.checkboxes {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
