.galleryPage {
  width: auto;
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.removeImageBtn {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #e02a1d;
  color: #e1d4c2;
  font-size: 20px;
  cursor: pointer;
  margin-bottom: 20px;
}

.removeImageBtn:disabled {
  background-color: gray;
  cursor: not-allowed;
}

.galleryPage h1 {
  color: yellow;
  margin-bottom: 10px;
}

.galleryPage ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.galleryPage ul li {
  position: relative;
  list-style: none;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #808080;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.galleryPage ul li img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.checkboxes {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
