#navLinks {
  display: flex;
  flex-direction: column;
  background-color: #6e473b;
  user-select: none;
}

#navLinks ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  padding: 20px 30px;
  border-top: 2px solid #a78d78;
}

.navItem {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 10px;
  background-color: #a78d78;
  padding: 15px 70px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

  &:hover {
    background-color: #beb5a9;
  }
}

.navLink {
  text-decoration: none;
  color: #e1d4c2;
  font-size: clamp(0.8rem, 2vw, 1.2rem);

  &:hover {
    color: #6e473b;
  }
}
