#navLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #93a3c4;
  height: 100%;
}

#navLinks ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  padding: 10px;
  width: 100%;
}

.navItem {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 10px;
  background-color: violet;
  height: 50px;
}

.navLink{
  text-decoration: none;
  color: #000;
  font-size: 1.2rem;
}