.foldersPage {
  color: #ffffff;
  width: auto;
  margin: 10px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.removeFolderBtn {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #e02a1d;
  color: #E1D4C2;
  font-size: 20px;
  cursor: pointer;
  margin-bottom: 20px;
}

.removeFolderBtn:disabled {
  background-color: gray;
  cursor: not-allowed;
}

.foldersPage form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 20%;
  margin-bottom: 20px;
}

.foldersPage form select {
  width: 50%;
  height: 30px;
  border-radius: 5px;
  border: none;
  margin: 0px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}

.foldersPage form input {
  width: 50%;
  height: 10px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin: 0px;
  font-size: 24px;
}

.foldersPage form button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #4caf50;
  color: #E1D4C2;
  font-size: 20px;
  cursor: pointer;
}

.foldersPage h1 {
  color: yellow;
  margin-bottom: 10px;
}

.foldersPage ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.foldersPage ul li {
  position: relative;
  list-style: none;
  font-size: 30px;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 150px;
  height: 150px;
  background-color: gray;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.checkboxes {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
