#filterBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6vh;
  padding: 0 1rem;
  padding-left: 5vw;
  background-color: #724c4c;
}

#search {
  display: flex;
  align-items: center;
  justify-content: end;
}

#loupe {
  width: 5%;
  height: 5%;
  background-color: aqua;
  border-radius: 50px;
  padding: 1%;
}
