@use "../../App.module.scss" as *;

#registerForm {
  @include form;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  min-height: 30vw;

  input {
    @include input;
  }

  button {
    @include button;
    color: rgb(180, 180, 180);
    background-color: rgb(82, 82, 82);
    font-size: xx-large;
    width: fit-content;
    height: fit-content;
    margin: auto;
  }
}

/* width < 600px */
@media (max-width: 600px) {
  #registerForm {
    height: 80%;
    transform: scale(0.75);
  }

  input {
    max-width: 65vw;
    font-size: x-large;
  }

  button {
    @include button;
    font-size: xx-large;
    width: 15vw;
    margin: auto;
  }
}
