.errorMessage {
  font-size: x-large;
  color: #e02a1d;
}

@mixin authForm {
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border-radius: 10px;
    border: solid #291c0e;
    background-color: #6e473b;
    position: relative;

    h1 {
      font-size: large;
    }

    p {
      color: #e1d4c2;
    }

    .inputGroup {
      @include inputStyle;
      width: clamp(200px, 60vw, 300px);
      text-align: center;
    }

    .showPassword {
      display: flex;
      flex-direction: row;
      gap: 5px;
      align-items: center;
      justify-content: center;
      user-select: none;
      color: #e1d4c2;

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }

      input {
        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }

    #btnSubmit {
      width: 100px;
      background-color: #a88c7c;
      color: #fff;
      border-radius: 10px;
      padding: 10px 20px;
      border: none;
      transition: all 0.3s ease;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

      &:hover {
        cursor: pointer;
        background-color: #beb5a9;
        color: #6e473b;
        transition: all 0.3s;
      }
    }
  }
}

@mixin page {
  display: flex;
  flex-direction: column;
  width: auto;
  align-items: center;
  margin-bottom: 10px;
  position: relative;
  padding: 10px clamp(6px, 4vw, 800px);
}

@mixin removeBtn {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #e02a1d;
  color: #e1d4c2;
  font-size: 20px;
  cursor: pointer;
  margin-bottom: 10px;

  &:disabled {
    background-color: gray;
    cursor: not-allowed;
  }
}

@mixin formCointainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  user-select: none;

  .showForm {
    background-color: #808080;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    border: 5px solid #ffff;
    border-radius: 10px;
    padding: 10px 50px;
    position: absolute;
    top: 0;
    transition: transform 0.3s ease-out;
    transform: translateY(50px);
    z-index: 1;
  }

  .hideForm {
    background-color: #808080;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    border: 5px solid #ffff;
    border-radius: 10px;
    padding: 10px 50px;
    position: absolute;
    transition: transform 0.3s ease-out;
    transform: translateY(-100%);
    z-index: 1;
  }

  .closeFormBtn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 3px 14px;
    border-radius: 5px;
    border: none;
    background-color: #e02a1d;
    color: #e1d4c2;
    font-size: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;

    &:hover {
      color: #ffffff;
      cursor: pointer;
    }
  }

  .submitFormBtn {
    padding: 5px 15px;
    border-radius: 5px;
    border: none;
    background-color: #5a5;
    color: #e1d4c2;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;

    &:hover {
      color: #ffffff;
      cursor: pointer;
    }
  }
}

@mixin inputStyle {
  border: none;
  text-align: left;
  font-weight: 500;
  padding: 10px 5px;
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  width: 200px;
}

@mixin topBarBtn {
  img {
    display: flex;
    width: 100%;
    height: 20px;
    aspect-ratio: 3/1;
    object-fit: contain;
  }
}
