@use "../../../../App.module.scss" as *;

.postsPage {
  @include page;
}

.removeBtn {
  @include removeBtn;
}

#formContainer {
  @include formCointainer;

  .showForm,
  .hideForm {
    width: 60%;
  }

  .postTitleInput {
    @include inputStyle;
    width: 60%;
    resize: none;
    scrollbar-width: none;
    height: 15px;
  }

  .postContentInput {
    @include inputStyle;
    width: 80%;
    resize: none;
    scrollbar-width: none;
    height: auto;
    max-height: 400px;
  }
}

.postsList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.postCard {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #444;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  width: 50%;
  position: relative;

  .checkboxes {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0px;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }

  .addCommentBtn {
    background-color: #a78d78;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    border: none;
    color: #ffffff;
    border-radius: 5px;
    height: 30px;
    padding: 5px 10px;
    width: 20%;
    transition: all 0.3s ease;

    &:hover {
      background-color: #beb5a9;
      color: #6e473b;
      cursor: pointer;
    }
  }
}

.postTitle {
  display: flex;
  color: #fff;
  text-align: left;
  align-items: baseline;
  font-size: clamp(1em, 2.5vw, 1.8em);
  font-weight: bolder;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
  white-space: normal;

  .author {
    font-size: small;
    font-weight: normal;
    margin-left: 5px;
  }
}

.postContent {
  display: flex;
  background-color: #555;
  color: #fff;
  text-align: left;
  border-radius: 5px;
  padding: 10px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
  white-space: normal;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  font-size: clamp(10px, 2.5vw, 15px);

  .readMoreBtn {
    color: #3399ff;
    margin-left: 5px;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      text-decoration: underline;
    }
  }
}

.commentsList {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: clamp(10px, 2.5vw, 15px);

  .commentsCounter {
    display: flex;
    flex-direction: column;
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    border: none;
    box-shadow: none;
    padding: 0px;

    span {
      color: #3399ff;
      cursor: pointer;
      font-size: large;
      transition: all 0.3s ease;
      margin-top: 10px;
      font-size: clamp(15px, 2.5vw, 15px);

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .comment {
    align-items: baseline;
    display: flex;
  }

  li {
    display: flex;
    background-color: #888;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    padding-right: 30px;
    align-items: baseline;
    text-align: left;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    position: relative;

    span {
      margin-left: 5px;
      word-wrap: break-word;
      overflow-wrap: break-word;
      word-break: break-word;
      white-space: normal;
    }

    .commentMenu {
      right: 0;
      margin-right: 10px;
      position: absolute;

      .menuButton {
        background-color: #a78d78;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
        border: none;
        color: #ffffff;
        border-radius: 5px;
        padding: 5px 10px;
        transition: all 0.3s ease;

        &:hover {
          background-color: #beb5a9;
          color: #6e473b;
          cursor: pointer;
        }
      }

      .menuOptions {
        right: 0;
        display: flex;
        flex-direction: column;
        gap: 5px;
        position: absolute;
        background-color: #444;
        color: #fff;
        border-radius: 5px;
        padding: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
        top: 30px;
        z-index: 1;

        button {
          background-color: #a78d78;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
          border: none;
          color: #ffffff;
          border-radius: 5px;
          height: 30px;
          width: 100%;
          padding: 5px 20px;
          transition: all 0.3s ease;

          &:hover {
            background-color: #beb5a9;
            color: #6e473b;
            cursor: pointer;
          }
        }
      }
    }
  }
}

.addCommentForm {
  width: 100%;
  display: flex;
  flex-direction: column;

  .commentInput {
    @include inputStyle;
    resize: none;
    scrollbar-width: none;
  }

  .commentFormBtns {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;

    button {
      background-color: #a78d78;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
      border: none;
      color: #ffffff;
      border-radius: 5px;
      height: 30px;
      padding: 5px 10px;
      width: 20%;
      transition: all 0.3s ease;

      &:hover {
        background-color: #beb5a9;
        color: #6e473b;
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 600px) {
  .postCard {
    width: 90%;
  }
}
