#navBar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
  width: 300px;
  background-color: #6E473B;
  position: absolute;
  z-index: 9999;
  left: 0;
  transition: transform 0.3s ease-out;
  transform: translateX(-100%);

  .navBarBtn img{
    transition: transform 0.5s ease-out;
    transform: rotate(0);
  }
}

#navBarHidden {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
  width: 300px;
  background-color: #6E473B;
  position: absolute;
  z-index: 9999;
  left: 0;
  transition: transform 0.3s ease-out;
  transform: translateX(0);

  .navBarBtn img{
    transition: transform 0.5s ease-out;
    transform: rotate(180deg);
  }
}

#logo {
  align-items: center;
  justify-content: center;
  height: auto;
  width: 100%;
  font-size: 2rem;
  font-weight: bold;
  color: #E1D4C2;
  margin-top: 10px;
}

#logo img {
  width: 100px;
  border-radius: 20px;
}

.navBarBtn {
  position: absolute;
  left: 100%;
  top: 20%;
  padding: 10px;
  z-index: 9999;
  background-color: #A78D78;
  color: #291C0E;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 25px;
  }
  
  &:hover {
    background-color: #BEB5A9;
  }
}


.logoutBtn{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.navBarContainer{
  overflow: auto;
  scrollbar-width: thin;
}