@use "../../App.module.scss" as *;

#loginPage {
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#loginForm {
  @include form;

  p{
    color: #E1D4C2;
  }

  input {
    @include input;
    margin: 5px;
    width: 20vw;
  }
}

#buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

#btnLogin {
  @include button;
}

#btnRegister {
  all: unset;
  color: #3399ff;
  font-size: large;
  transition: all 0.3s;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

@media (max-width: 600px) {
  #loginForm {
    width: 80vw;

    input {
      width: 50vw;
      font-size: large;
    }
  }
}

@media (max-width: 1100px) {
  #loginForm {
    width: 50vw;

    input {
      width: 50vw;
      font-size: large;
    }
  }
}