#logOut {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8%;
  width: 100%;
  margin-bottom: 2vh;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: #459c7b;
  border-radius: 50px;
  border-radius: 50px;

  img {
    height: 2vh;
    width: 2vw;
    border-radius: 20px;
  }
}
