@use "../../App.module.scss" as *;

#registerPage{
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#registerForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 15px;
  border: solid #291c0e;
  background-color: #6e473b;
  position: relative;

  input {
    @include inputStyle;
    width: 20vw;
    margin: 5px;
  }
}

#btnSubmit {
  @include button;
}

#closeFormBtn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px;
  margin: 5px;
  color: #fff;
  background-color: #A78D78;
  border-radius: 3px;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  transition: all 0.3s;

  &:hover {
    cursor: pointer;
    background-color: #BEB5A9;
    color: #6E473B;

  }
}

@media (max-width: 600px) {
  #registerForm {
    width: 80vw;

    input {
      width: 50vw;
      font-size: large;
    }
  }
}

@media (max-width: 1100px) {
  #registerForm {
    width: 50vw;

    input {
      width: 50vw;
      font-size: large;
    }
  }
}