@use "../../App.module.scss" as *;

#registerPage {
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#registerForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding: 60px;
  border-radius: 10px;
  border: solid #291c0e;
  background-color: #6e473b;
  position: relative;

  input {
    @include inputStyle;
    width: 20vw;
    margin: 5px;
  }
}

#btnSubmit {
  @include button;
}

#closeFormBtn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 3px 14px;
  border-radius: 5px;
  border: none;
  background-color: #e02a1d;
  color: #e1d4c2;
  font-size: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;

  &:hover {
    color: #ffffff;
    cursor: pointer;
  }
}

@media (max-width: 600px) {
  #registerForm {
    width: 80vw;

    input {
      width: 50vw;
      font-size: large;
    }
  }
}

@media (max-width: 1100px) {
  #registerForm {
    width: 50vw;

    input {
      width: 50vw;
      font-size: large;
    }
  }
}
