@use "../../App.module.scss" as *;

#registerPage {
  align-items: center;
  justify-content: center;
  overflow: hidden;

  @include authForm;
}

#closeFormBtn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 3px 14px;
  border-radius: 5px;
  border: none;
  background-color: #e02a1d;
  color: #e1d4c2;
  font-size: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;

  &:hover {
    color: #ffffff;
    cursor: pointer;
  }
}
