@use "../../../App.module.scss" as *;

#topBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 8vh;
  background-color: #641313;
  z-index: 100;
  overflow: hidden;

  button {
    @include button;
    background-color: #641313;
    color: white;
  }
}
