@use "../../../../App.module.scss" as *;

#homePage {
  @include page;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: #312626;
  color: white;
  font-size: 30px;
}
